.products-headline {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .products-headline {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: 35px;
  }
}
