#cartBadge{
    position: relative; 
}

#cartCount{
    font-size: 15px;
    color: black;
    text-align: center;
}


/* 
.circle{
    position: absolute;
    top: 3px;
    left: 7px;
    border-radius: 50%;
    background: transparent;
    height: 20px;
    width: 20px;
    text-align: center;
} */

.cartLink{
    color: black;
}

.cartLink:hover{
    color: white;
}