@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* ALL BUTTON Generic STYLING: fonts, size, corners, etc */

.button {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    border-radius: 2px;
}   

h1, h2, h3, h4, h5, h6, p {
    font-family: "Open Sans", sans-serif;

}