@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* ALL BUTTON Generic STYLING: fonts, size, corners, etc */

button {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}   