


.productTitle {
    font-size: 20px;
    font-weight: 700;
}

.productDetails {
    font-size: 14px;
    font-weight: 600;

}

.productDesc {
    font-size: 14px;
    font-weight: 600;

}

.productCategory {
    font-size: 14px;
    font-weight: 600;

}

.productQuantity {
    font-size: 14px;
    font-weight: 600;

}


