#signUp-icon-1, #signUp-icon-2 {
    width:50px;
}

#signUp-headline {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 11px;
    font-weight: 700;
    font-size: 35px;
}

#signUp-btn {
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #873e97;
    color: white;
    font-weight: bold;
}