.cat-head {
  background-color: #e0ebd9;
}
.panel-block {
  height: 60px;
  margin-left: 12px;
}

.panel {
  background-color: white;
}

#cat-items-subtitle {
  margin-left: 55px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.panel-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

#fruit {
  background-image: url(icons/fruits.svg);
  background-repeat: no-repeat;
}

#fruit:hover,
#fruit-selected {
  background-image: url(icons/fruits_hover.svg);
  background-repeat: no-repeat;
}

#vegetable {
  background-image: url(icons/vegetable.svg);
  background-repeat: no-repeat;
}

#vegetable:hover,
#vegetable-selected {
  background-image: url(icons/vegetable_hover.svg);
  background-repeat: no-repeat;
}

#meat {
  background-image: url(icons/meat.svg);
  background-repeat: no-repeat;
}

#meat:hover,
#meat-selected {
  background-image: url(icons/meat_hover.svg);
  background-repeat: no-repeat;
}

#dairy {
  background-image: url(icons/dairy.svg);
  background-repeat: no-repeat;
}

#dairy:hover,
#dairy-selected {
  background-image: url(icons/dairy_hover.svg);
  background-repeat: no-repeat;
}

#all {
  background-image: url(icons/all.svg);
  background-repeat: no-repeat;
}

#all:hover,
#all-selected {
  background-image: url(icons/all_hover.svg);
  background-repeat: no-repeat;
}
