.add-product-headline {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.add-products-fields {
  padding-left: 5px;
  padding-right: 5px;
}

.label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #a9a9a9;
}

#selectCategoryEdit,
#selectCategoryAdd,
.input,
.textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

#product-image-add, #product-image-edit {
  padding-bottom: 20px;
  width: 40%;
}

#add-save, #edit-save {
  background-color: #873e97;
  color: white;
  width: 20%;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
#add-save:hover,
#edit-save:hover,
#edit-save:focus,
#add-save:focus {
  background-color: #672f73;
  color: white;
  box-shadow: none;
}

/* Remove button animation fade */
#add-cancel,
#edit-cancel {
  background-color: #58a245;
  color: white;
  width: 20%;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
#add-cancel:hover,
#add-cancel:focus,
#edit-cancel:hover,
#edit-cancel:focus {
  background-color: #457e36;
  color: white;
  box-shadow: none;
}

.addProd-errors {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}
/* TOAST */
.Toastify__toast--danger {
  background: #ef4343 !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  box-shadow: none !important;
}
