.cart-item {
  margin-bottom: 10px !important;
}

.vertical-center {
  display: flex;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#thumbnail {
  width: 75px;
  height: 75px;
  margin-right: 15px;
}

/* Remove button animation fade */
.hvr-fade-remove {
  background-color: #58a245;
  color: white;
  font-size: 14px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade-remove:hover,
.hvr-fade-remove:focus {
  background-color: #457e36;
  color: white;
  box-shadow: none;
}



.Toastify__toast--dark {
  background: #f09300 !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 768px) {
  #thumbnail {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }

  .total {
    display: none;
  }
}


