.add-icon {
  margin: auto;
  padding: 4px;
  width: 130px;
  overflow: hidden;

}



#addProductBtn {
  background-color: #873e97;
  color: white;  
}

@media only screen and (max-width: 1240px) {


 
}

@media only screen and (max-width: 768px) {


 
}